.total{
    border: 1px solid black;
    font: bold;
    color: red;
}
.xcol-3{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
    padding: 0px;
}
.gridrow-header{
    border-bottom: 1px solid black;
}
card-header {
    color: #488aff;
}