<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Place Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item>
      <ion-label fixed>Worker Name</ion-label>
      <ion-select [(ngModel)]="WorkerID">
          <ion-option *ngFor="let worker of Workers" [value]="worker.kID">{{worker.workerName}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Item</ion-label>
      <ion-select [(ngModel)]="ItemID">
          <ion-option *ngFor="let item of Items" [value]="item.itemID">{{item.itemName}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Quantity</ion-label>
      <ion-input type="number" [(ngModel)]="Quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Melt</ion-label>
      <ion-input type="number" [(ngModel)]="Melt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Expected Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="ExpectedDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>Advance</ion-label>
      <ion-input type="number" [(ngModel)]="AdvanceAmount"></ion-input>
    </ion-item>
  </ion-item-group>
  <button ion-button block (click)='addWorkerOrder();'>Save</button>
  <br>
  <ion-card>
    <ion-card-header>
      Added Orders
    </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-3>Item</ion-col>
          <ion-col col-3>Worker</ion-col>
          <ion-col col-3>Quantity</ion-col>
          <ion-col col-3>Expected Date</ion-col>
        </ion-row>
      <button ion-row *ngFor="let order of Orders">
       <ion-col col-3>
        <!-- <ion-icon [name]="worker.icon" item-start></ion-icon> -->
          {{order.itemName}}
      </ion-col>
      <ion-col col-3 style="align-content: center;">{{order.workerName}}</ion-col>
      <ion-col col-3>{{order.quantity}}</ion-col>
      <ion-col col-3>{{order.expectedDate | date:"MM/dd/yy"}}</ion-col>
      </button>
    </ion-grid>
  </ion-card>
</ion-content>